<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} POST Storage {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}

<style>
    body{
    background-image: url("/static/images/post2.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    }

    label{
        color: #1c7430;
    }

    button{
        background-color: #1c7430;
        color: #1c7430;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">STORE</label>
                    <input type="text" class="form-control" id="storename" name="storename">
                </div>
                <div class="form-group">
                    <label for="title">ITEM</label>
                    <input type="text" class="form-control" id="itemname" name="itemname">
                </div>
                <div class="form-group">
                    <label for="title">PRICE</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <div class="form-group">
                    <label for="title">QUANTITY</label>
                    <input type="text" class="form-control" id="quantity" name="quantity">
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">POST!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}