<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Storage detail
{% endblock title %}

{% block content %}

<!-- Boostrap dependencies -->
<!-- ---------------------------------------------------------------- -->
<!-- design choise -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Search</title>
    <link rel = "stylesheet" type = "text/css" href = "../../static/md_css/search.css" />
    <meta charset="utf-8">
  </head>

  <img id = logo src="/static/images/logo4.png"/>


  <body>
    <div class= "row-container core">
      <div class = "search-box">
        <form action="index_submit" method="get" accept-charset="utf-8" role="form">
            <input type="text" class="form-control" id="test" placeholder="Find you store..">
            <div class="input-group-btn">
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="opacity: 0.8;"></ul>
            </div>
        </form>
        <!-- <h2 id = search-text>Find your store</h2> -->
      </div>

      <div class = "search-box">
        <form action="index_submit" method="get" accept-charset="utf-8" role="form">
            <input type="text" class="form-control" id="test" placeholder="Find your item..">
            <div class="input-group-btn">
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="opacity: 0.8;"></ul>
            </div>
        </form>
        <!-- <h2 id = search-text>Find your item</h2> -->
      </div>
      <img id = search-icon src="../../static/images/icon.png" />
    </div>

    <div class="row-container popular-items">
      <div class = 'item'>
        <img id = food-pic src="../../static/images/asparagus.jpg" />
        <div class = "description">asparagus</div>
      </div>
      <div class = 'item'>
        <img id = food-pic src="../../static/images/cereals.jpg" />
        <div class = "description">cereal</div>
      </div>
      <div class = 'item'>
        <img id = food-pic src="../../static/images/lemon.jpg" />
        <div class = "description">lemon</div>
      </div>
      <div class = 'item'>
        <img id = food-pic src="../../static/images/salmon.jpg" />
        <div class = "description">salmon</div>
      </div>
      <div class = 'item'>
        <img id = food-pic src="../../static/images/steak.jpg" />
        <div class = "description">steak</div>
      </div>
    </div>
</html>

<!-- design choise -->
<!-- ---------------------------------------------------------------- -->
<!-- Boostrap dependencies -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/suggest/bootstrap-suggest.js"></script>
    <script type="text/javascript">

    var testBsSuggest = $("#test").bsSuggest({
        //url: "/rest/sys/getuserlist?keyword=",
        url: "/static/suggest/data.json",
        effectiveFields: ["word"],
        // searchFields: [ "shortAccount"],
        // effectiveFieldsAlias:{userName: "姓名"},
        idField: "userId",
        keyField: "word"
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });

    $("form").submit(function(e) {
        return false;
    });
    </script>
{% endblock content %}
