<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Virtual Shelf Search
{% endblock title %}

{% block content %}

<!-- Boostrap dependencies -->
<!-- ---------------------------------------------------------------- -->
<!-- design choise -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Search</title>
    <link rel = "stylesheet" type = "text/css" href = "../../static/md_css/search.css" />
    <meta charset="utf-8">
  </head>

  <img id = logo src="/static/images/logo6.png"/>


  <body>
    <div class= "row-container core">
      <div class = "search-box">
        <form action="index_submit" method="get" accept-charset="utf-8" role="form">
            <input type="text" class="form-control" id="test" placeholder="Find your store..">
            <div class="input-group-btn">
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="opacity: 0.8;"></ul>
            </div>
        </form>
        <!-- <h2 id = search-text>Find your store</h2> -->
      </div>

      <div class = "search-box">
        <form action="index_submit" method="get" accept-charset="utf-8" role="form">
            <input type="text" class="form-control" id="test2" placeholder="Find your item..">
            <div class="input-group-btn">
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="opacity: 0.8;"></ul>
            </div>
        </form>
        <!-- <h2 id = search-text>Find your item</h2> -->
      </div>
      <img id = search-icon src="../../static/images/icon.png" onclick="jumpPage()"/>
    </div>

    <div class="row-container popular-items">
      <div class = 'item'>
        <img id = food-pic src="../../static/images/asparagus.jpg" />
        <div class = "description">asparagus</div>
      </div>
      <div class = 'item'>
          <a href="http://127.0.0.1:8000/storage/storage-item/Chicken/"><img id = food-pic src="../../static/images/chicken.jpg" /></a>
        <div class = "description">chicken</div>
      </div>
      <div class = 'item'>
          <a href="http://127.0.0.1:8000/storage/storage-item/Lemon/"><img id = food-pic src="../../static/images/lemon.jpg" /></a>
        <div class = "description">lemon</div>
      </div>
      <div class = 'item'>
          <a href="http://127.0.0.1:8000/storage/storage-item/Tissue/"><img id = food-pic src="../../static/images/tissue.jpeg" /></a>
        <div class = "description">tissue</div>
      </div>
      <div class = 'item'>
          <a href="http://127.0.0.1:8000/storage/storage-item/Steak/"><img id = food-pic src="../../static/images/steak.jpg" /></a>
          <div class = "description">steak</div>
      </div>
    </div>
</html>

<!-- design choise -->
<!-- ---------------------------------------------------------------- -->
<!-- Boostrap dependencies -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/suggest/bootstrap-suggest.js"></script>
    <script type="text/javascript">

    var testBsSuggest = $("#test").bsSuggest({
        url: "/static/suggest/data.json",
        effectiveFields: ["word"],
        // searchFields: [ "shortAccount"],
        idField: "userId",
        keyField: "word",
        inputWarnColor: "rgba(255,0,0,.6)",
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });

    $("form").submit(function(e) {
        return false;
    });

    var testBsSuggest = $("#test2").bsSuggest({
        url: "/static/suggest/data2.json",
        effectiveFields: ["word"],
        // searchFields: [ "shortAccount"],
        idField: "userId",
        keyField: "word",
        inputWarnColor: "rgba(255,0,0,.6)",
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });

    $("form").submit(function(e) {
        return false;
    });

    function handleEnter(field, event) {
        var keyCode = event.keyCode ? event.keyCode : event.which ? event.which
                : event.charCode;
        if (keyCode == 13) {
            var i;
            for (i = 0; i < field.form.elements.length; i++)
                if (field == field.form.elements[i])
                    break;
            i = (i + 1) % field.form.elements.length;
            field.form.elements[i].focus();
            return false;
        } else
            return true;
    }

    function jumpPage() {
        var store = document.getElementById('test').value;
        var item = document.getElementById('test2').value;
        if(store == ''){
            window.location.href = "http://127.0.0.1:8000/storage/storage-item/" + item + "/";
        }
        else if(item == ''){
            window.location.href = "http://127.0.0.1:8000/storage/storage-store/" + store + "/";
        }
        else {
            window.location.href = "http://127.0.0.1:8000/storage/storage-item-store/" + item + "/" + store + "/";
        }
    }
    </script>
{% endblock content %}
