<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">

    <!-- 导航栏商标 -->
<!--    <img src="/static/images/logo4.png" style="position: absolute; top: 5px; left: 40px;" height="60" width="110"/>-->
<!--    <a class="navbar-brand" href="#">Virtual Shelf</a>-->

    <!-- 导航入口 -->
    <div>
      <li class="nav-item">
          <a class="nav-link"  style=" font-family: Ubuntu Mono, monospace; font-size: 18px; color: white; position: fixed; left: 100px; top: 20px; letter-spacing: 0.16em;" href="{% url 'storage:storage_search' %}">VIRTUAL-SHELF</a>
        </li>
      <ul class="navbar-nav" style =  "overflow: hidden; position: fixed; top: 20px; width: 100%;">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link"  style="font-family: Ubuntu Mono, monospace; font-size: 18px; color: white; position: relative; left: 1000px; letter-spacing: 0.16em;" href="{% url 'storage:storage_search' %}">SEARCH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="font-family: Ubuntu Mono, monospace; font-size: 18px; color: white; position: relative; left: 1020px; letter-spacing: 0.16em;" href="{% url 'storage:storage_list' %}">STORES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="font-family: Ubuntu Mono, monospace; font-size: 18px; color: white; position: relative; left: 1020px; letter-spacing: 0.16em;" href="{% url 'storage:storage_create' %}">POST</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
