<!-- 地图 -->
<div class="maps-container" style = " overflow: hidden;
                                      position: fixed;
                                      top: 80px;
                                      right: 50px;
                                      height: 80%;
                                      width: 61.8%;
                                      border-radius: 15px;
                                    ">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtSTvHFS3VAXxI9OrIJBsEGHAswBl-A88"></script>
  <div id="googleMap" style="position: absolute;
                             top: 0px;
                             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                             height: 623px;
                             width: 890px;
                             position: fixed;">
  </div>
    <script type="text/javascript">
        var map = new google.maps.Map(document.getElementById("googleMap"),{
            center : new google.maps.LatLng(34.068921,-118.4473698),
            zoom : 15,
            mapTypeId : google.maps.MapTypeId.ROADMAP
        });
        var infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            map.setCenter(pos);
            var cur_marker = new google.maps.Marker({
                position: pos,
                map: map,
                label: {text: "You are here", color: "black", fontSize: '14px', fontWeight: '900'},
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            })
              // cur_marker.addListener('mouseover', function() {
              //               changeMarkerLabelColor(cur_marker, "blue");
              // })
              // cur_marker.addListener('mouseout', function() {
              //           changeMarkerLabelColor(cur_marker, "transparent");
              //       })
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        //这个要钱 先备注 用的时候取消备注就可以
        //var geocoder = new google.maps.Geocoder();

        function changeMarkerLabelColor(marker, color) {
            var label = marker.getLabel();
            label.color = color;
            marker.setLabel(label);
        }

        function geocodeAddress(geocoder, address, resultsMap) {
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        label: {text: address, color: "transparent", fontSize: '14px', fontWeight: '900'},
                    });
                    marker.addListener('mouseover', function() {
                            changeMarkerLabelColor(marker, "black");
                        })
                    marker.addListener('mouseout', function() {
                        changeMarkerLabelColor(marker, "transparent");
                    })
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        //这个是test，然后就把所有超市address存在一个array里，pass给第二个参数就可以
        geocodeAddress(geocoder, 'Hilgard 870', map);

    </script>
</div>
