    body{
        background-image: url("../../static/images/supermarket.jpg");
        background-position: center 0;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    #logo {
      position: absolute;
      top: 140px;
      left: 50%;
      height: 100px;
      width: auto;
      transform: translateX(-50%);
    }

    .row-container {
      display: flex;
      flex-direction: row;
    }

    .row-container {
      display: flex;
      flex-direction: row;
    }

/* search bar area */
    .core {
      margin-top: 230px;
      justify-content: center;
    }

    .search-box {
      justify-content: center;
      width: 30.9%;
    }

    #search-icon {
      height: 50px;
      width: auto;
    }

/* popular items */
    .popular-items {
      padding-top: 50px;
      justify-content: center;
    }

    .item {
      border-radius: 10px;
      margin:15px;

    }

    #food-pic {
      height: 150px;
      width: auto;
      border: 3px white solid;
      border-radius: 25px;
    }

    .description {
      padding-top: 7px;
      text-align: center;
      color: white;
      border-radius: 10px;
      border-color: white;
        /*font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;*/
      /* text-transform: uppercase; */
    }
