certifi==2019.11.28
chardet==3.0.4
Cheetah==2.4.4
cloud-init==0.7.6
configobj==5.0.6
idna==2.9
Jinja2==2.11.1
jsonpatch==1.25
jsonpointer==2.0
Markdown==3.2.1
MarkupSafe==1.1.1
oauth==1.0.1
prettytable==0.7.2
PyYAML==5.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
